@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>

<p>Formed by a roving band of beer drinking fools who settled in the Traverse City area, Northern Michigan Microbreweries is your one place for all beer brewing activities in Northern Michigan.</p>
